In [249]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

# Data-Types

## Series = 1-dementional

In [250]:
series = pd.Series(["BMW", "Toyota", "Honda"])

In [251]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [252]:
colours = pd.Series(["Red", "Blue","White"])

In [253]:
colours

0      Red
1     Blue
2    White
dtype: object

## Data frame = 2-dementional

In [254]:
car_data = pd.DataFrame({"Car Make" : series, "Colour" : colours})

In [255]:
car_data

  Car Make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [256]:
numbers = pd.DataFrame([[1,2,3]
                      ,[4,5,6]
                       ,[7,8,9]], index=[1,2,3], columns=["a","b","c"])

In [257]:
numbers

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9

## Import data 
pandas works very well with CSV files so if there's a data file that you need to work with it's the best to convert it into a CSV file

In [258]:
car_sales = pd.read_csv("car-sales.csv")

In [259]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

+ now that it's inside a pandas frame we can apply all the pandas function to this data

### Exporting a Data Frame

In [260]:
car_sales.to_csv("exported-car-sales.csv", index=False)

In [261]:
exported_car_sales = pd.read_csv("exported-car-sales.csv")
exported_car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

as you can see there's an unnamed index colon made... and that's what to.csv does... in order to prevent that we need to add 
index = false at the end of the exporting data command

another great feature of pandas is being able to import .csv files directly from a URL
just go to the raw Part of the data in github(or what ever) and copy the URL and read it as a csv in pandas

# Describing Data

## Atributes

In [262]:
# Attribute
car_sales.dtypes

# Function
# cae_sales.to_csv()
# as you can see there ain't no prnthesis in Attributes...

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [263]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

in case you would want to store all the columns names:

In [264]:
car_columns = car_sales.columns
car_columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [265]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [266]:
car_index = car_sales.index
car_index

RangeIndex(start=0, stop=10, step=1)

In [267]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

## Functions

In [268]:
car_sales.info() # For a general informantion about the data we're handeling like Dtype and non-Null count and columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

mean() is for getting the average of the integer inside the DataFrame

In [269]:
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

38583.333333333336

In [270]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

 for getting the sum of a single column

In [271]:
car_sales["Doors"].sum()

40

for getting to know the leangth of your DataFrame you have to use as so:

In [272]:
len(car_sales)

10

# viewing and selecting data

### head() & tail()

In [273]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [274]:
car_sales.tail() # rerturns the bottem 5 rows... the Opposit of head

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

## .loc & .iloc

it's also posible to make an uniq index as so:

In [275]:
animals = pd.Series(["Cat", "dog", "bird", "Panda", "snake"],
                   index=[0,3,9,8,3])
animals

0      Cat
3      dog
9     bird
8    Panda
3    snake
dtype: object

### loc
loc refers to the index

In [276]:
animals.loc[3]

3      dog
3    snake
dtype: object

In [277]:
car_sales.loc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

### iloc
it refers to position...

In [278]:
animals.head()

0      Cat
3      dog
9     bird
8    Panda
3    snake
dtype: object

In [279]:
animals.iloc[3]

'Panda'

In [280]:
car_sales.iloc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [281]:
car_sales.iloc[:3]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
1   Honda    Red          87899      4  $5,000.00
2  Toyota   Blue          32549      3  $7,000.00

### Selecting a colomn 
in order to select a colomn all you have to do is: -name["name"]

In [282]:
car_sales["Colour"]

0    White
1      Red
2     Blue
3    Black
4    White
5    Green
6     Blue
7     Blue
8    White
9    White
Name: Colour, dtype: object

In [283]:
car_sales.Make

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Make, dtype: object

in case you wanted to select a specific column and put a filter on it:

In [284]:
car_sales[car_sales["Make"] == "Toyota"]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
2  Toyota   Blue          32549      3  $7,000.00
5  Toyota  Green          99213      4  $4,500.00
8  Toyota  White          60000      4  $6,250.00

In [285]:
car_sales[car_sales["Odometer (KM)"]> 100000]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
4  Nissan  White         213095      4  $3,500.00

For making a crosstab to cross over to parts

In [286]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

Doors   3  4  5
Make
BMW     0  0  1
Honda   0  3  0
Nissan  0  2  0
Toyota  1  3  0

groupby()

In [287]:
# Groupby
car_sales.groupby(["Make"]).mean()

TypeError: agg function failed [how->mean,dtype->object]

# diagrams
## Plot

In [ ]:
car_sales['Odometer (KM)'].plot()

## Histogram()

In [ ]:
car_sales["Odometer (KM)"].hist()

### Chaging a data type

In [ ]:
car_sales["Price"] = car_sales["Price"].replace("[$,\.]", "", regex=True).astype(float).astype(int)

In [ ]:
car_sales["Price"].plot()

In [ ]:
car_sales["Price"]

# Manuplating Data

In [ ]:
car_sales['Make'].str.lower()

In [ ]:
car_sales['Make'] = car_sales['Make'].str.lower()

In [ ]:
car_sales

In [ ]:
car_sales_missing = pd.read_csv("56 - car-sales-missing-data.csv")
car_sales_missing

In [ ]:
car_sales_missing.info()

 in real life you'll be dealing with not complete data and in order to be able to work with those you need to take some acrions and of them i to use fillna() and pass a value into the Nan data

# fillna()

In [ ]:
car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean())

In [ ]:
car_sales_missing['Odometer']

In [ ]:
car_sales_missing['Odometer']= car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean() )

or you can just do

In [ ]:
car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean(), inplace=True)

In [ ]:
car_sales_missing

# dropna()

it's a function that deletes the columns with Nan data innit

In [ ]:
car_sales_missing.dropna(inplace=True)

In [ ]:
car_sales_missing

in order to bring back the missing data we need to reimport the data file

In [ ]:
car_sales_missing = pd.read_csv('56 - car-sales-missing-data.csv')

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing_dropped = car_sales_missing.dropna()

In [ ]:
car_sales_missing_dropped.to_csv("car-sales-missing-dropped.csv")

In [ ]:
car_sales_missing_dropped

# Creating data from existing data

## Series

In [ ]:
seats_column = pd.Series([5, 5, 5, 5, 5])
car_sales["Seats"] = seats_column

In [ ]:
car_sales

In [ ]:
car_sales["Seats"].fillna(5, inplace=True)

In [ ]:
car_sales['Seats']

## column from python list

In [ ]:
feul_economy = [7.5, 9.2, 5.0, 9.6, 8.7, 4.7, 7.6 ,8.7, 3.0, 4.5]
#IF YOU WANT to create the new data from a list the index of the df should be equal to the index of the list unlike what we saw in Series
car_sales["Feul per 100km"] = feul_economy
car_sales

### Creating a column from another column

make a column and see how much gas has the cars burnt so far...

In [ ]:
car_sales['Total fuel used(l)'] = car_sales['Odometer (KM)'] / 100 * car_sales['Feul per 100km']
car_sales

In [ ]:
#createa column from a single value

In [ ]:
car_sales["Number of wheels"] = 4
car_sales

In [ ]:
car_sales["Passed road safty"] = True
car_sales.dtypes

In [ ]:
car_sales

in order to delete the whole column you should do as so:
del df[column_name]
or 
df.drop("column_name", axis = 1)

In [ ]:
car_sales.drop("Total fuel used(l)", axis=1)

### Shoffeling the data

it's for mixing up the df and randomizing the indexes so the machine learning algo that we're going to apply be as general as posibble

In [ ]:
car_sales.sample(frac= 0.5)# frac is for giving a fraction and the 0.5 mean we need only 50% of the data

In [ ]:
car_sales.sample(frac= 1)

In [ ]:
car_sales_shuffeled =  car_sales.sample(frac = 1)

In [ ]:
car_sales_shuffeled

In [ ]:
#it's importent to optimize the training and tuning time of models since too much data can take alot of time
#for only practicing on the 20% of the data

car_sales_shuffeled.sample(frac= 0.2)

In [ ]:
car_sales_shuffeled


# getting the indexes back into the order
# df.reset_index()

In [ ]:
car_sales_shuffeled.reset_index()

as you can see now there are 2 different index columns and in order to prevent that from hapening we need to do as so

In [288]:
car_sales_shuffeled.reset_index(drop= True, inplace= True)

In [289]:
car_sales_shuffeled

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1     BMW  Black          11179      5  $22,000.00
2   Honda   Blue          45698      4   $7,500.00
3   Honda    Red          87899      4   $5,000.00
4  Toyota  White          60000      4   $6,250.00
5  Toyota  Green          99213      4   $4,500.00
6  Nissan  White         213095      4   $3,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Nissan  White          31600      4   $9,700.00
9  Toyota   Blue          32549      3   $7,000.00

+Task: in this task try turning the odometer from km to miles

apply() : to apply the same procces into all the parts of a column

In [290]:
car_sales['Odometer (KM)'] = car_sales['Odometer (KM)'].apply(lambda x: x/ 1.6)
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White      93776.875      4   $4,000.00
1   Honda    Red      54936.875      4   $5,000.00
2  Toyota   Blue      20343.125      3   $7,000.00
3     BMW  Black       6986.875      5  $22,000.00
4  Nissan  White     133184.375      4   $3,500.00
5  Toyota  Green      62008.125      4   $4,500.00
6   Honda   Blue      28561.250      4   $7,500.00
7   Honda   Blue      34211.250      4   $7,000.00
8  Toyota  White      37500.000      4   $6,250.00
9  Nissan  White      19750.000      4   $9,700.00